.component {
  &.-main-poster {
    width: 100%;
    max-width: 300px;
    color: white;
    .poster-set {
      position: relative;
      width: 100%;
      aspect-ratio: 245/352;
      border-radius: 6px;
      overflow: hidden;
      cursor: pointer;
      &:hover .dim {
        opacity: 1;
      }
      .rank {
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        padding: 10px 0 0 15px;
        font-size: 36px;
        color: $white;
        font-style: italic;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        background: url(../assets/images/bg/bg-main-movie-rank.png) no-repeat 0 0;
      }
      .dim {
        transition: .2s;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        color: $white;
        padding: 24px;
        display: flex;
        flex-direction: column;
        .summary {
          padding: 16px 0;
          flex: 1 0 0;
          border-bottom: 1px solid #3c3c3c;
          overflow-y: scroll;
        }
        .rating {
          padding: 12px 0;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
          font-size: 14px;
          & > span {
            font-size: 32px;
            color: #59bec9;
          }
        }
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .btn-set {
      margin-top: 12px;
      display: flex;
      width: 100%;
      gap: 4px;
      .btn.-like {
        width: 35%;
      }
      .btn.-reservation {
        width: 65%;
      }
      
    }
  }
  &.-book-movie-list {
    & > button {
      padding: 4px;
      width: 100%;
      font-size: 13px;
      text-align: left;
      &:disabled {
        background-color: gray;
        color: $white;
      }
    }
  }
  &.-book-movie-time-list {
    & > button {
      text-align: left;
      display: flex;
      width: 100%;
      padding: 0 10px;
      .discount {
        text-align: center;
        padding: 8px 0;
        width: 20px;
      }
      .screen-time {
        padding: 8px 12px;
        width: 60px;
        .start-time {
          font-weight: bold;
          font-size: 18px;
        }
        .end-time {
          font-size: 13px;
          color: #666;
          margin-top: 4px;
        }
      }
      .movie {
        flex: 1 0 0;
        padding: 8px 12px;
        .movie-name {
          font-size: 14px;
          font-weight: 500;
        }
        .screen {
          font-size: 12px;
          margin-top: 6px;
        }
      }
      .theater-info {
        font-size: 12px;
        text-align: right;
        .theater-num {
          flex: 1 0 0;
        }
        .seat {
          width: fit-content;
          margin: 0 0 0 auto;
          width: fit-content;
          border: 1px solid #d8d9db;
          padding: 3px 6px;
          color: #666;
          .remain-seat {
            color: #01738b;
            font-weight: 500;
          }
        }
      }
    }
    & + .-book-movie-time-list {
      border-top: 1px solid #ebebeb;
    }
    &:hover {
      background-color: #ebebeb;
    }
  }
  &.-breadcrumb {
    background-color: #f8f8fa;
    & > ul {
      width: 1200px;
      margin: 0 auto;
      height: 40px;
      display: flex;
      gap: 10px;
      & > li {
        display: flex;
        align-items: center;
        height: 100%;
        & > a {
          display: block;
          height: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          color: $font-666;
          & > i {
            height: 100%;
            display: flex;
            align-items: center;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.-movie-reservation {
    background-color: $white;
    border: 1px solid gold;
    .wrap {
      width: 1200px;
      margin: 0 auto;
      border: 1px solid plum;
      .title {
        font-weight: 500;
        font-size: 28px;
        color: $font-222;
      }
      .content {
        margin-top: 24px;
        .slick-slider {
          width: 1100px;
          border: 1px solid aqua;
          text-align: center;
          display: flex;
          .slick-prev,.slick-next {
            position: static;
            transform: none;
            background-color: white;
            color: red;
            &::before {
            color: black;
            background-color: white;
            opacity: 1;
            line-height: normal;
            font-size: 0;
            display: block;
            width: 25px;
            }
          }
          .slick-prev {
            &::before {
              background: url('../assets/images/btn/btn-benefit-slider-prev.png');
            }
          }
          .slick-next {
            &::before {
              content: url('../assets/images/btn/btn-benefit-slider-next.png');
            }
          }
        }
      }
    }
  }
}