.ui-content {
  &.-boxoffice {
    .content-top {
      position: relative;
      display: flex;
      justify-content: flex-end;
      .title {
        position: absolute;
        padding: 4px 0;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        border-bottom: 1px solid gray;
        font-weight: 500;
      }
      .more {
        font-size: 15px;
        color: #aaa;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 8px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .top4 {
      margin-top: 24px;
      display: flex;
      gap: 40px;
    }
    .info-list {
      margin-top: 60px;
      display: flex;
      width: 100%;
      align-items: center;
      & > li {
        width: 25%;
        & + li {
          border-left: 1px solid $white;
        }
        & > a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          gap: 8px;
          &:hover {
            text-decoration: underline;
          }
        }
        .input-set {
          display: flex;
          border-bottom: 1px solid white;
          margin: 0 24px;
          // width: 100%;
          padding: 8px 0;
          & > input {
            background-color: black;
            padding: 0 12px;
            border: none;
            color: $white;
            font-weight: 500;
            width: 100%;
            &::placeholder {
              color: #777;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}